error_log

*.pdf
*.indd
*.ai
*.tiff
*.jpg
*.jpeg
*.gif
*.psd

*.mp4
*.m4a
*.mov

*.mp3
*.wav


*.zip
*.dmg

*.crdownload
*btsync*

*.tmproj
/sitemap.xml

/medias/images

bdd.php

sitemap.xml

/captcha/example-captcha.php
/captcha/example-mailhide.php

/machine/_bdd.php

/machine/rcaptcha-key.php
