/* CSS Document */
img
{
	margin:3px;
	border:1px solid #E0E0E0
}

img:hover,.imgOn
{
	border-color:#000
}

#posId img
{
	border:none;
	border-bottom:1px solid #E0E0E0;
	margin:10px;
	margin-bottom:9px
}

#posId img:hover
{
	border:1px solid #E0E0E0;
	margin:9px
}

body
{
	background-color:#FAFAFA;
	background-color:#F3F3F3
}

#cont
{
	position:absolute;
	left:50%;
	top:244px;
	margin-left:-375px;
	background-color:#Fff;
	padding-left:30px;
	width:720px!important;
	width:740px;
	height:1200px
}

#posId
{
	position:absolute;
	left:50%;
	margin-left:-375px;
	background-color:#FFF;
	padding-left:30px;
	height:240px;
	width:720px!important;
	width:750px
}

a
{
	border:0;
	color:#444;
	text-decoration:none
}

a:hover
{
	border:0;
	color:#000;
	text-decoration:underline
}

*
{
	margin:0;
	padding:0
}

h1
{
	font-family:Helvetica,Arial,sans-serif;
	font-size:120px;
	letter-spacing:0
}

.txt
{
	font-family:"Times New Roman",Times,serif;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-style:italic;
	padding-top:80px;
	font-size:72px;
	letter-spacing:-3px
}

h2
{
	font-family:Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:400;
	margin-top:12px;
	margin-bottom:4px;
	height:24px;
	width:160px;
	border-bottom:1px solid #E0E0E0;
	letter-spacing:-1px;
	color:#444
}

#menu
{
	width:100%;
	height:20px;
	display:none;
	background-color:#CCC;
	color:#FFF;
	font-size:12px;
	font-weight:700;
	font-family:Arial,Helvetica,sans-serif;
	text-align:right
}

#menu ul
{
	list-style:none;
	float:right
}

#menu li
{
	float:left;
	margin:0 5px 0 0
}

#id
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:200px;
	margin-bottom:0!important;
	margin-bottom:-200px;
	height:40px;
	margin-left:220px;
	letter-spacing:-20px;
/*text-transform:capitalize;*/
	color:#F5F5F5
}

#found
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
	padding-top:8px;
	height:16px;
	color:#999
}

#found a
{
	color:#666
}

.recherche
{
	position:absolute;
	left:400px;
	top:250px
}

recherche h2
{
	margin:0
}

form
{
	font-family:Arial,Helvetica,sans-serif;
	text-transform:uppercase;
	width:140px;
	font-size:10px;
	height:160px
}

textarea
{
	width:150px
}

.modLong
{
	float:left;
	width:160px;
	padding:8px
}

.colone,.coloneL,.coloneS
{
	width:160px;
	height:160px;
/*text-transform:capitalize;*/
	overflow:hidden;
	color:#666
}

.coloneL
{
	overflow:visible
}

.coloneS
{
	font-size:9px
}

p
{
	font-size:11px;
	font-family:Arial,Helvetica,sans-serif
}

sup
{
	font-size:9px;
	color:#999;
	letter-spacing:normal
}

.proches
{
	float:left;
	margin-right:16px;
	background:#FFF
}

#copy
{
	font-size:9px;
	color:#999
}

.message {
	text-align: center;
	font-size: 2em;
	color: red;
	width: 100%;
	background: white;
	padding: 10px;

}